.header_wrapper {
    display: flex;
    justify-content: space-around;
    height: 70px;
    align-items: center ;
    color: white;
    background-color: black;
}

.user_links {
    display: flex;
    gap: 40px;
    align-items: center;
}

.header_wrapper Link {
    /* border-radius: 5px; */
}

.header_btn {
    cursor: pointer;
    transition: all 0.3s ;
}

.header_btn:hover {
    color: #02b3ff;
    /* text-decoration: underline; */
     transition: all 0.3s ;
}

.header_btn_blue {
    text-decoration: none;
    color: white;
    font-size: 20px;
    background-color: #02b3ff;
    width: 140px;
    height: 50px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.header_btn_blue:hover {
  background-color: #0285ff;
}

.header_btn_cart {
    /* margin-top: 12px; */
    text-decoration: none;
    color: #000c27;
    font-size: 20px;
    background-color: #ffffff;
    width: 140px;
    height: 50px;
    cursor: pointer;
    border-radius: 7px;
    transition: all 0.3s ;
}

.header_btn_cart:hover {
      /* background-color: #0285ff; */
      color: #02b3ff;
}

