.headphones {
    background-color: white;
    color: black;
    height: 100%;
}

.componentWrapper {
    display: flex;
    justify-content: space-evenly;
}

.searchInfo {
  margin: 10px 0;
  font-style: italic;
  color: #666;
}

.placeholderImage {
  height: 200px;
  width: 220px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #999;
}

.outOfStock {
  color: #ff4444;
  font-weight: bold;
}

.noProducts {
  text-align: center;
  padding: 40px;
  font-size: 18px;
  color: #666;
}