
.homePage {
  width: 100%;
}
.section_1 {
  position: relative;
  background-color: black;
}

.section1_wrapper {
  width: 100%;
  /* height: 500px; */
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("../../..//assets/background_headphones/main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right 0 bottom 0;
  padding: 15rem 0 13rem 0;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  align-items: center;
}

.main_content {

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2rem;
  max-width: 600px;
  width: 100%;
}

.section1_wrapper h1 {
  font-size: 56px;
  font-weight: 700;
  color: white;
}

.section1 p {
  color: #828282;
  line-height: 150%;
}

.newProd {
  letter-spacing: 5px;
}

.seeProductBtn {
  color: white;
  background-color: #02b3ff;
  border-radius: 120px;
  /* border: none; */
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.02em;
  transition: 0.3s ease-in-out;
}

.seeProductBtn:hover {
  background-color: #0285ff;
}

.section_2 {
  max-width: 1440px;
  width: 100%;
  margin: 104px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  margin-top: 150px;
}

.category_section {
  background-color: rgb(57, 57, 57);
  color: white;
  margin: 0 auto;
}

.subcategory_section {
  display: flex;
  gap: 20px;
}


@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 30s linear infinite;
}

/* Pause animation on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}